a {
	text-decoration: none;
}

.soundbyte-box {
	color: black;
	width: 8em;
	height: 5em;
	background-color: gray;
	margin: 2em;
	border: 1.5px solid black;
	border-radius: 1em;
	float: left;
	text-align: center;
	vertical-align: middle;
}