.navbar {
	margin-bottom: 1em;
	border-bottom: 4px solid black;
	// background-color: 

	.header {
				text-align: center;
			}
}

.navbar::after {
	content: "";
	display: table;
	clear: both;
}

@mixin navbar-element {
	margin: 1em;
	margin-left: 3em;
	margin-right: 3em;
	box-shadow: 1px 1px 3px gray;
}

.search-field {
	@include navbar-element;
	float: left;
}

.import-button {
	color: black;
	font-weight: bold;
	@include navbar-element;
	float: right;
	border: 2px solid grey;
	border-radius: 3px;
	padding: 2px;
	background-color: #f0f0f0;
}

.import-button:hover {
	text-shadow: 0.5px 0.5px 0.5px grey;
	cursor: pointer;
}

.input[type=text] {
    width: 13em;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}